# Игнорировать каталог .idea
.idea/

# Игнорировать каталог .pytest_cache
.pytest_cache/

# Игнорировать каталог __pycache__
__pycache__/

# Игнорировать каталог venv (если он находится в корне проекта)
venv/